.container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background-color: teal;
  margin: 1px;
  width: 150px;
  height: 150px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#teal:hover {
  background-color: brown;
  cursor: pointer;
}
